section#about.content-section.text-center
    .about-section
        .container
          .col-lg-8.col-lg-offset-2
            h2 About IWW     
            img.about-img(src='images/iww_crew.jpg', alt='IWW Crew')
            p
              | Since 2008 IWW brings to Munich the most talented and innovative artists of the electronic music scene.
