section#booking.container.content-section.text-center
    .row
        .col-lg-8.col-lg-offset-2
          h2 Booking
          p
            | For booking enquiries, please contact 
            a(href='mailto:booking@iww-music.com') booking@iww-music.com
          .social-bottom
            ul.list-inline.banner-social-buttons
              li
                a.btn.btn-default.btn-lg(href='https://www.facebook.com/iww.official', target='_blank')
                  i.fa.fa-facebook.fa-fw
                  span.network-name Facebook
              li
                a.btn.btn-default.btn-lg(href='http://www.residentadvisor.net/record-label.aspx?id=6077', target='_blank')
                  span.network-name Resident Advisor
              li
                a.btn.btn-default.btn-lg(href='https://soundcloud.com/iww', target='_blank')
                  i.fa.fa-soundcloud.fa-fw
                  span.network-name Soundcloud
