include ../mixins/event.jade

section#events.container.content-section.text-center
        
  #carousel-events.carousel.slide.carousel-events(data-ride='carousel', data-interval='false')
    .carousel-inner(role='listbox')
      each event, index in data
        +eventItem(event.isUpcoming, event.imgUrl, event.title, event.description, event.date, event.location, event.facebookLink)(class= index === 0 ? "active" : "")
          each artist in event.artists
            +artist(artist.name, artist.labels, artist.city)
        
    a.left.carousel-control(href='#carousel-events', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')      
      span.sr-only Previous       
    a.right.carousel-control(href='#carousel-events', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')    
      span.sr-only Next
      
    ol.carousel-indicators
      each event, index in data
        li(class= event.isUpcoming ? 'active' : '', data-target='#carousel-events', data-slide-to=index)
