header#intro.intro
    .intro-body
        .container
          .row
            .col-md-12
              .row
                .col-md-2
                  span.logo-iww-128   
                .col-md-8
                  h1.brand-heading IWW MUSIC
              p.intro-text Music | Events | Label
              ul.list-inline.banner-social-buttons
                li
                  a.btn.btn-default.btn-lg(href='https://www.facebook.com/iww.official', target='_blank')
                    i.fa.fa-facebook.fa-fw
                    span.network-name Facebook
                li
                  a.btn.btn-default.btn-lg(href='http://www.residentadvisor.net/promoter.aspx?id=9491', target='_blank')
                    span.network-name Resident Advisor
                li
                  a.btn.btn-default.btn-lg(href='https://soundcloud.com/iww', target='_blank')
                    i.fa.fa-soundcloud.fa-fw
                    span.network-name Soundcloud
              a.btn.btn-circle.page-scroll(href='#events')
                i.fa.fa-angle-double-down.animated
