section#music.records.container.content-section.text-center      
  h1 Music
  .grid
    .record
      .record-id IWW009
      p Marco Wachs - Diversity EP
      //- .iframe(style="height:350px;background: grey")
      iframe.iframe(width="100%", height="350", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/402293126&amp;color=%2367ddb3&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true")
    .record
      .record-id IWW008
      p.title 
        | Maxâge - D.O.C. 1988 EP
        a(href="https://soundcloud.com/iww/sets/iww008-max-ge-d-o-c-1988", target="_blank")
          img.logo-soundcloud(src="/public/images/soundcloud.png")
      img.cover(src="/public/images/records/iww008.jpg")
    .record
      .record-id IWW007
      p.title 
        | Alex q - Guten morgen Rosengarten EP
        a(href="https://soundcloud.com/iww/sets/iww007-alex-q-guten-morgen", target="_blank")
          img.logo-soundcloud(src="/public/images/soundcloud.png")
      img.cover(src="/public/images/records/iww007.jpg")
    .record
      .record-id IWW006
      p.title 
        | Leon - Walking EP
        a(href="https://soundcloud.com/iww/sets/iww005-leon-walking-ep", target="_blank")
          img.logo-soundcloud(src="/public/images/soundcloud.png")
      img.cover(src="/public/images/records/iww006.jpg")
    .record
      .record-id IWW005
      p.title 
        | The Italian Stallions EP
        a(href="https://soundcloud.com/iww/sets/iww005-the-italian-stallions", target="_blank")
          img.logo-soundcloud(src="/public/images/soundcloud.png")
      img.cover(src="/public/images/records/iww005.jpg")
    .record
      .record-id IWW004
      p.title 
        | Munich Love Stories EP
        a(href="https://soundcloud.com/iww/sets/iww004-munich-love-stories-ep", target="_blank")
          img.logo-soundcloud(src="/public/images/soundcloud.png")
      img.cover(src="/public/images/records/iww004.jpg")
    .record
      .record-id IWW003
      p.title 
        | Andrea Di Rocco - Finger Food EP 
        a(href="https://soundcloud.com/iww/sets/iww003-finger-food-ep-by", target="_blank")
          img.logo-soundcloud(src="/public/images/soundcloud.png")
      img.cover(src="/public/images/records/iww003.jpg")
    .record
      .record-id IWW002
      p.title 
        | Maxâge - Rome Sweet Rome EP
        a(href="https://soundcloud.com/iww/sets/romesweetrome", target="_blank")
          img.logo-soundcloud(src="/public/images/soundcloud.png")
      img.cover(src="/public/images/records/iww002.jpg")
    .record
      .record-id IWW001
      p.title
        | Fabian Kranz - Jazzy Jeff EP
        a(href="https://soundcloud.com/iww/sets/romesweetrome", target="_blank")
          img.logo-soundcloud(src="/public/images/soundcloud.png")
      img.cover(src="/public/images/records/iww001.jpg")
