doctype html
html
  head
    title Event-Manager
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
  body
    .col-xs-8
      h2 Event-Manager
      form#event-form
        .form-group
          label(for='title') Title:
          input(id='title').form-control
        .form-group
          label Date:
          input(type="date").form-control
        .form-group
          label Location:
          input.form-control
        .form-group
          label Image:
          input(type="file").form-control
        .form-group
          label Description:
          textarea(rows=3).form-control
        .form-group
          label Facebook-URL:
          input.form-control
        .form-group
          label Ticket-URL:
          input.form-control
          p.help-text if there is no ticket url leave empty
        p Artists:
        ul.artist-list
          li Francesco Tristano (Infine, Luxembourg)
        .form-group
          label Artist-name:
          input.form-control#artist-name
        .form-group
          label Labels:
          input.form-control#artist-labels
        .form-group
          label City:
          input.form-control#artist-city
        button.btn.btn-primary#add-artist + add
        button(type="submit").btn.btn-primary.pull-right Submit Event
        
    script(src='/javascripts/vendor/jquery-1.11.2.min.js')
    script(src='/javascripts/vendor/bootstrap.min.js')
    script(src='/javascripts/eventsManager.js')
