extends layout

block content
  include ./navbar.jade
  include ./sections/header.jade
  include ./sections/events.jade
  include ./sections/music.jade
  include ./sections/about.jade
  include ./sections/contact.jade
  
