doctype html
html
  head
    title iww-music.com
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,200,700')
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    block content
    script(src='/javascripts/vendor/jquery-1.11.2.min.js')
    script(src='/javascripts/vendor/bootstrap.min.js')
    script(src='/javascripts/grayscale.js')
    script(src='/javascripts/jquery.easing.min.js')
      
    // Google Analytics disabled for dev
    //script(src='/javascripts/googleanalytics.js')
    
